<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Angular Labs</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li *ngIf="loginStatus" class="active"><a [routerLink]="['']">Home</a></li>
        <li *ngIf="loginStatus"><a [routerLink]="['/search']">Search</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a [routerLink]="['/login']" *ngIf="!loginStatus" (click)="handleLogin()"><span
              class="glyphicon glyphicon-log-in"></span>
            Login</a>
          <a [routerLink]="['/login']" routerLinkActive="router-link-active" *ngIf="loginStatus"
            (click)="handleLogout()"><span class="glyphicon glyphicon-log-in"></span>
            Logout</a></li>
      </ul>
    </div>
  </div>
</nav>